@media only screen and (max-width: 768px) {
  /* section start */
  .section {
    position: relative;
    width: 600px;
    height: 200px;

    overflow: hidden;
    display: flex;
  }

  /* background color */
  .section::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100vh;
    height: 100vh;
    background: linear-gradient(45deg, #4c67ad 0%, #8270f7 83.45%);
    border-radius: 50%;
    transform-origin: bottom;
    transform: translateX(-62%) scale(1.5);
  }

  /* section content z index */
  .section .content {
    z-index: 10;
  }

  /* section info style */
  .info {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 79px;
    top: 46px;
  }

  /* section info userName style */
  .info .userName {
    width: 100px;
    height: 24px;
    font-family: 'Tatsam Bengali Rnd';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #f2f2f2;
  }

  /* section info userLevel style */
  .info .userLevel {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #f2f2f2;
  }
  /* user image style */
  .user {
    position: absolute;
    width: 46px;
    height: 46px;
    left: 24px;
    top: 36px;
    border-radius: 52px;
  }
  /* reward section start */
  .reward {
    position: absolute;
    width: 30px;
    left: 275px;
    top: 48px;
    display: flex;
    justify-content: center;
    border: 4px solid #e9efff;
    border-radius: 53px;
    padding: 9px 34px;
    background-color: #c7d3f3;
  }
  /* rewardtext start */
  .rewardText {
    padding-left: 5px;
  }
  /* trophy style */
  .trophy {
    color: #4c67ad;
    width: 20px;
    height: 20px;
  }

  /* circle style */
  .circle {
    width: 200px;
    height: 200px;
    border: 32px solid #ffffff50;

    border-radius: 50%;
    position: absolute;
    left: 247px;
    bottom: 40px;
    border-top-left-radius: 110px;

    transform: matrix(-1, 0, 0, 1, 0, 0);
  }

  /* rewardpoint style */
  .rewardPoint {
    position: absolute;
    width: 327px;
    height: 96px;
    background-color: #ffffff;
    left: 27px;
    top: 107px;
    background: #ffffff;
    box-shadow: 10px 24px 54px rgba(15, 13, 35, 0.04);
    border-radius: 16px;
    display: flex;
    z-index: 20;
    justify-content: space-around;
    align-items: center;
  }

  /* levelPoint style  */

  .levelPoint {
    display: flex;
    flex-direction: column;
  }

  /* rewardLevel style */
  .rewardLevel {
    font-family: 'Tatsam Bengali Rnd';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 20px;
    /* identical to box height, or 182% */

    color: #666666;

    opacity: 0.55;
  }

  /* bigdown image style */
  .bigDown {
    position: absolute;
    left: 253px !important;
    top: 65px !important;
  }
}
