@media only screen and (max-width: 768px) {
  .card-header-content {
    display: flex;
  }

  .first-content {
    width: 122px;
    height: 26px;
    font-family: 'Tatsam Bengali Rnd';
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 26px;
    color: #2c2c2c;
    margin-top: 20px;
    margin-left: 21px;
  }

  .second-content {
    width: 76px;
    height: 18px;
    font-family: 'Tatsam Bengali Rnd';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #2c2c2c;
    margin-top: 23px;
    margin-left: 170px;
  }

  .point-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .point-single-card {
    width: 365px;
    height: 80px;
    background: #ffffff;
    box-shadow: 10px 24px 54px rgba(15, 13, 35, 16%);
    border-radius: 16px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .point-content {
    display: flex;
    flex-direction: column;
  }

  .point-header-content {
    width: 179px;
    height: 20px;
    font-family: 'Tatsam Bengali Rnd';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #2c2c2c;
  }

  .points {
    width: 75px;
    height: 20px;
    font-family: 'Tatsam Bengali Rnd';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #666666;
    opacity: 0.55;
  }

  .point-button {
    width: 88px;
    height: 35px;
    background: #4c67ad;
    border-radius: 20px;
    border-style: none;
    font-size: 12px;
    line-height: 15px;
    color: #ffffff;
  }

  .special {
    width: 152px;
  }

  .special-button {
    background: #e0e0e0;
    border-radius: 20px;
    color: #4f4f4f;
    border-style: none;
  }
  button:focus {
    outline: 1px dotted;
    outline: 5px auto #e0e0e0 !important;
  }
}
